version: "3.7"

services:
  f5:
    image: "bitnami/apache:latest"
    ports:
      - "80:8080"
    volumes:
      - ./f5.conf:/opt/bitnami/apache/conf/httpd.conf

  apache:
    image: "bitnami/apache:latest"
    volumes:
      - ./apache.conf:/opt/bitnami/apache/conf/httpd.conf
      - ./site1.html:/opt/bitnami/apache/site1/index.html
      - ./site2.html:/opt/bitnami/apache/site2/index.html

  ihs_cn:
    image: "bitnami/apache:latest"
    volumes:
      - ./ihs.conf:/opt/bitnami/apache/conf/httpd.conf
      - ./site1.html:/opt/bitnami/apache/site/index.html

  ihs_hk:
    image: "bitnami/apache:latest"
    volumes:
      - ./ihs.conf:/opt/bitnami/apache/conf/httpd.conf
      - ./site2.html:/opt/bitnami/apache/site/index.html
